@font-face {
  font-family: 'Bodytype';
  src: url('assets/Hanken-Book.ttf') format('truetype');
}

@font-face {
  font-family: 'Headline';
  src: url('assets/Lucette-Regularitalic.otf') format('opentype');
  font-style: italic;
  font-weight: 500;
}

body, html {
  font-family: 'Bodytype', serif;
  margin: 0;
  padding: 0;
  height: 100%;
}

h2 {
  font-family: 'Headline', serif;
  font-style: italic;
  text-decoration: dashed 1px black;
  font-weight: 500;
}

canvas {
  top: 0;
  left: 0;
  z-index: 0;
}

p {
  line-height: 1.5em;
  font-size: 15px;
}

#canvas-container {
  position: absolute;
  top: 0;
  left: 0;
  overflow: auto;
}

#input-container {
  position: absolute;
  bottom: 10px;
  left: 10px;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 5px;
  z-index: 2;
}

#input-container input,
#input-container button {
  margin-top: 5px;
  display: block;
}

#canvas-container .popup {
  display: none;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: rgba(255, 255, 255, 0.7);
  z-index: 100;
  overflow: auto;
}

.popup-content {
  padding: 50px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.popup-content ul {
  list-style-type: none;
  padding: 10px;
}

li {
  margin-bottom: 0.5em;
  font-size: 15px;
}

.popup-content div {
  display: inline-block;
  margin: 0 auto;
}

#open-button {
  position: absolute;
  width: 40px;
  height: 40px;
  top: 10px;
  left: 10px;
}

#close-button {
  width: 40%;
  height: 40px;
  margin: 20px auto;
}

#boundary-close-button {
  margin: 20px auto;
  width: 40%;
  height: 40px;
}

#audio-start-button {
  position: absolute;
  bottom: 10px;
  left: 10px;
}

#open-button, #close-button, #boundary-close-button, #audio-start-button {
  background-color: #ffffff;
  border: 1px dashed black;
  padding: 5px;
  text-align: center;
  text-decoration: none;
  color: inherit;
  display: inline-block;
  font-size: 15px;
  border-radius: 5px;
}

#google-maps-link {
  color: black;
  text-decoration: underline;
}

@keyframes transparencyAnimate{
  0%{ opacity: 0;}
  100%{ opacity: 0.8;}
}
#song-name{
  position: absolute;
  font-family: 'Headline', serif;
  font-style: italic;
  font-weight: 10;
  right:20px;
  top:18px;
  font-size: 20px;
  text-decoration: dashed 1px black;
  animation:transparencyAnimate 2s;
}

@media (max-width: 700px) {

  .popup {
    width: 100%;
    height: 100%;
  }

  h2 {
    font-size: 24px;
  }
}